.buttonsContainer {
    display: flex;
    gap: 24px;
}

.responseContainer {
    display: flex;
    margin: 30px auto;
}

.imageContainer {
    margin-right: 94px;
}

.image {
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.57px;
    text-align: left;
    margin-bottom: 12px;

}

.text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;

}

.info {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;

}