.item {
    margin: 100px;
    border-spacing: 10px 10px;
    height: auto;

}

.item:last-of-type {

}

.users {
    padding: 200px;
    border-collapse: collapse;
    width: 100%;

}

.buttonsContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    margin-bottom: 20px;

}

.container {
    width: 50%;

}

.thead {
    background: gray;
    font-weight: bold;
}

.nameCol {

}

.ageCol {

}