.friendMessage {

}

.friendImageAndText {
    display: flex;
    flex-direction: row;
}

.friendImageAndText img {
    height: 48px;
    width: 48px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
