.sendForm {
  font-family: Montserrat;
  font-size: 16px;


}

.textarea {

}

.button {
  width: 120px;
  height: 40px;
  top: 432px;
  left: 1090px;
  border-radius: 20px;
  background: #0066cc;
  color: #FFFFFF;

}

.button:hover {

}
.button:active {

}
